@charset "UTF-8";

nav {
	background-color : #e6fffa ;
	font-size : 15px ;
	display : flex ;
	gap : 16px ;     
}

nav a {
	font-size : 20px ;
	text-decoration: none ;
	padding : 5px 10px;
	background-color : #ffffff ; 
	border : 5px solid #9999ff;
	border-radius: 2px ;
	color : #d966ff ;
	width: 220px;
    height: 70px;
	box-sizing: border-box;
	word-break: keep-all;
	justify-content : center ;
	align-items :center ;
	text-align :center ; 
	display: flex;
}

.run {
	padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 100px;
    background-color: #f0e6ff;
    box-shadow: 0 0 6px rgba(0,0,0,0.8);
    margin-bottom: 20px;
}

.run p {
	 white-space: nowrap;
    margin: 0;
    width: 100%;
    animation: move 10s linear infinite;
}

@keyframes move {
	from {
		transform : translateX(100%) ;
	} to {
		transform : translateX(-100%) ;
	}
}

.flex-demo {
	display : flex ;
	gap : 20px ;
	margin-top : 16px ;
	justify-content: center;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex-box {
	flex: 1;
	padding : 8px ;
	background-color: #ccfff5 ;
	border : 1px solid #ccffcc ;
	border-radius: 6px ;
}

.grid-demo {
	display : grid ;
	grid-template-columns : repeat(auto-fit , minmax(220px , 1fr)) ;	
	gap : 16px ;
	margin-top: 16px ;
}

.grid-box {
	padding : 16px ;
	background-color: #ccfff5 ;
	border : 1px solid #ccffcc ;
	border-radius: 6px ;
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

body {
	font-family : system-ui , sans-serif ;
	line-height : 1.6 ;
	background-color : #f5efff ;
	margin : 0 ;
}

article{
	padding : 20px ;
	background-color : #cce6ff ;
	margin-bottom: 20px ;
	border-radius: 8px ;
	box-shadow: 0 0 6px rgba(100,150,255,0.8) ;
}

.semantic-Layout {
	display : flex ;
	gap : 20px ;
	width : min(1300px,95%) ;
	margin : 20px auto;
	align-items: flex-start;
}

.semantic-content {
	flex : 3 ;
}

.semantic-aside {
	flex : 1 ;
    border: 2px solid #9999ff;
    border-radius: 8px;
    padding: 20px;
}

header,footer {
	background-color : #e8ddff ;
	text-align : center ;
}

table,th,td {
	border : 2px solid #999999;
}
th,td {
	padding : 10px ;
	font-size : 20px ;
}

table {
	border-collapse: collapse;
	width : 100% ;
	margin-top: 15px ;
}

header,nav,main,footer {
	padding : 5px ;
}

#photo {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#photo li {
    font-size: 20px;
}

.aside-a {
	border: 2px solid #c4b5fd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
}

.aside-b {
	border: 2px solid #c4b5fd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    font-size : 20px ;
}

#showBMI {
	font-size: 20px;
}

.sport-photo {
	display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#photo li {
    margin-bottom: 15px;
}